/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* You can add global styles to this file, and also import other style files */

// uncomment me for custom theme!
// @import '~@angular/material/theming';

// // Plus imports for other components in your app.

// // uncomment all of below as well!
// @include mat-core();

// $saia-app-primary: mat-palette($mat-indigo);
// $saia-app-accent: mat-palette($mat-pink);

// $saia-app-warn: mat-palette($mat-red);

// $saia-app-theme: mat-light-theme(
//   $saia-app-primary,
//   $saia-app-accent,
//   $saia-app-warn
// );

// @include angular-material-theme($saia-app-theme);
